<mat-toolbar class="header" color="primary" *ngIf="!isUser">
  {{ title }}
</mat-toolbar>
<mat-toolbar class="header" color="primary" *ngIf="isUser">
  <button
    mat-button
    [disabled]="homeDisabled"
    (click)="home()"
    routerLink="/home"
  >
    <mat-icon>home</mat-icon>
  </button>
  <button
    mat-button
    [disabled]="auctionsDisabled"
    (click)="auctions()"
    routerLink="/purchase"
  >
    Auctions
  </button>
  <button
    mat-button
    [disabled]="searchDisabled"
    (click)="search()"
    routerLink="/search"
  >
    Spots
  </button>

  <button mat-button class="pull-right" (click)="logout()">Logout</button>
</mat-toolbar>

<router-outlet></router-outlet>
