<form autocomplete="off" [formGroup]="loginForm">
  <mat-card class="login-card">
    <!-- Username -->
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Username</mat-label>
      <input matInput formControlName="id" />
    </mat-form-field>
    <!-- Key -->
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Key</mat-label>
      <input
        matInput
        formControlName="key"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <!-- Login Button -->
    <button mat-button [disabled]="loginForm.invalid" (click)="login()">
      LOGIN
    </button>
    <!-- For debugging -->
    <!-- Value: {{ loginForm.value | json }} -->
  </mat-card>
</form>
