<mat-card>
  <mat-card-header>
    <mat-card-title>Owned Spot</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div>Lot: </div>
    <div>Spot: #</div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Rented Spot</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>Lot: </div>
    <div>Spot: #</div>
    <div>Date: </div>
    <div>Time: </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Active Bid</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>Lot: </div>
    <div>Spot: #</div>
    <div>Date: </div>
    <div>Time: </div>
  </mat-card-content>
</mat-card>
