<mat-card *ngIf="auction != undefined">
  <mat-card-header>
    <mat-card-title *ngIf="userIsBidding()"> Active Bid</mat-card-title>
    <mat-card-subtitle *ngIf="userIsBidding()">
      Spot: {{ auction.spot }}
    </mat-card-subtitle>
    <mat-card-title *ngIf="!userIsBidding()">
      Spot: {{ auction.spot }}
    </mat-card-title>
    <mat-card-subtitle>Lot: {{ toLot(auction.spot) }}</mat-card-subtitle>
    <mat-card-subtitle>
      Current bidder:
      {{ auction.currentBidder ? auction.currentBidder : "None" }}
    </mat-card-subtitle>
    <!-- if user has a bid let them know -->
    <mat-card-subtitle *ngIf="!userIsBidding()">
      Highest Bid:
      {{ auction.highestBid }}</mat-card-subtitle
    >
    <mat-card-subtitle *ngIf="userIsBidding()"
      >Your Bid: {{ auction.highestBid }}</mat-card-subtitle
    >

    <mat-card-subtitle>
      Time:
      {{ displayTime(auction.uTime) + "-" + displayTime(auction.uTime + 2) }}
    </mat-card-subtitle>
    <mat-card-subtitle>
      Date: {{ auction.uMonth + "/" + auction.uDay }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <button mat-button *ngIf="!owned(auction.spot)" (click)="openDialog()">
      <mat-icon>attach_money</mat-icon>BID
    </button>

    <a mat-icon-button [href]="getLotUrl(auction.spot)" target="_blank">
      <mat-icon>location_on</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
