<mat-card *ngIf="auction != undefined">
  <mat-card-header>
    <mat-card-title>Auction ID: {{ auction.ID }}</mat-card-title>
    <mat-card-subtitle
      >Current bidder: {{ auction.currentBidder }}
    </mat-card-subtitle>
    <mat-card-subtitle>High Bid: {{ auction.highestBid }}</mat-card-subtitle>
    <mat-card-subtitle>uTime: {{ auction.uTime }}</mat-card-subtitle>
    <mat-card-subtitle>uDay: {{ auction.uDay }}</mat-card-subtitle>
    <mat-card-subtitle>uMonth: {{ auction.uMonth }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <!-- <button mat-button *ngIf="!spot.owner" (click)="buy()">
      <mat-icon>attach_money</mat-icon>BUY
    </!-->

    <button mat-button (click)="bid()">
      <mat-icon>attach_money</mat-icon>BID
    </button>

    <!-- <button mat-button *ngIf="isOwnedByUser()">
      AUCTION
    </button> -->

    <a mat-icon-button href="https://www.google.com/maps" target="_blank">
      <mat-icon>location_on</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
